In [90]:
import os
print(os.getcwd())

C:\Users\ASUS

In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [92]:
# Veri setini okuma
df = pd.read_csv('student_depression_dataset.csv')

In [93]:
# Veri setinin ilk birkaç satırı
print(df.head(1))

   id Gender   Age           City Profession  Academic Pressure  \
0   2   Male  33.0  Visakhapatnam    Student                5.0

   Work Pressure  CGPA  Study Satisfaction  Job Satisfaction Sleep Duration  \
0            0.0  8.97                 2.0               0.0    '5-6 hours'

  Dietary Habits   Degree Have you ever had suicidal thoughts ?  \
0        Healthy  B.Pharm                                   Yes

   Work/Study Hours Financial Stress Family History of Mental Illness  \
0               3.0              1.0                               No

   Depression
0           1

In [94]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(7), int64(2), object(9)
memory usage: 3.8+ MB
None

In [95]:
print(df.isnull().sum())

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [96]:
df=df.drop("id",axis=1)

In [97]:
categorical_cols = ['Gender', 'City', 'Profession', 'Academic Pressure',
                    'Work Pressure', 'Sleep Duration', 'Dietary Habits',
                    'Have you ever had suicidal thoughts ?', 'Financial Stress',
                    'Family History of Mental Illness','Degree']
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [98]:
print(df.head())
print(df.info())
print(df.columns.tolist()) # Tüm sütun isimlerini listele

    Age  CGPA  Study Satisfaction  Job Satisfaction  Work/Study Hours  \
0  33.0  8.97                 2.0               0.0               3.0
1  24.0  5.90                 5.0               0.0               3.0
2  31.0  7.03                 5.0               0.0               9.0
3  28.0  5.59                 2.0               0.0               4.0
4  25.0  8.13                 3.0               0.0               1.0

   Depression  Gender_Male  City_'Less than 5 Kalyan'  City_3.0  City_Agra  \
0           1         True                      False     False      False
1           0        False                      False     False      False
2           0         True                      False     False      False
3           1        False                      False     False      False
4           0        False                      False     False      False

   ...  Degree_MA  Degree_MBA  Degree_MBBS  Degree_MCA  Degree_MD  Degree_ME  \
0  ...      False       False        False       False      False      False
1  ...      False       False        False       False      False      False
2  ...      False       False        False       False      False      False
3  ...      False       False        False       False      False      False
4  ...      False       False        False       False      False      False

   Degree_MHM  Degree_MSc  Degree_Others  Degree_PhD
0       False       False          False       False
1       False       False          False       False
2       False       False          False       False
3       False       False          False       False
4       False       False          False       False

[5 rows x 119 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Columns: 119 entries, Age to Degree_PhD
dtypes: bool(113), float64(5), int64(1)
memory usage: 4.3 MB
None
['Age', 'CGPA', 'Study Satisfaction', 'Job Satisfaction', 'Work/Study Hours', 'Depression', 'Gender_Male', "City_'Less than 5 Kalyan'", 'City_3.0', 'City_Agra', 'City_Ahmedabad', 'City_Bangalore', 'City_Bhavna', 'City_Bhopal', 'City_Chennai', 'City_City', 'City_Delhi', 'City_Faridabad', 'City_Gaurav', 'City_Ghaziabad', 'City_Harsh', 'City_Harsha', 'City_Hyderabad', 'City_Indore', 'City_Jaipur', 'City_Kalyan', 'City_Kanpur', 'City_Khaziabad', 'City_Kibara', 'City_Kolkata', 'City_Lucknow', 'City_Ludhiana', 'City_M.Com', 'City_M.Tech', 'City_ME', 'City_Meerut', 'City_Mihir', 'City_Mira', 'City_Mumbai', 'City_Nagpur', 'City_Nalini', 'City_Nalyan', 'City_Nandini', 'City_Nashik', 'City_Patna', 'City_Pune', 'City_Rajkot', 'City_Rashi', 'City_Reyansh', 'City_Saanvi', 'City_Srinagar', 'City_Surat', 'City_Thane', 'City_Vaanya', 'City_Vadodara', 'City_Varanasi', 'City_Vasai-Virar', 'City_Visakhapatnam', "Profession_'Content Writer'", "Profession_'Digital Marketer'", "Profession_'Educational Consultant'", "Profession_'UX/UI Designer'", 'Profession_Architect', 'Profession_Chef', 'Profession_Doctor', 'Profession_Entrepreneur', 'Profession_Lawyer', 'Profession_Manager', 'Profession_Pharmacist', 'Profession_Student', 'Profession_Teacher', 'Academic Pressure_1.0', 'Academic Pressure_2.0', 'Academic Pressure_3.0', 'Academic Pressure_4.0', 'Academic Pressure_5.0', 'Work Pressure_2.0', 'Work Pressure_5.0', "Sleep Duration_'7-8 hours'", "Sleep Duration_'Less than 5 hours'", "Sleep Duration_'More than 8 hours'", 'Sleep Duration_Others', 'Dietary Habits_Moderate', 'Dietary Habits_Others', 'Dietary Habits_Unhealthy', 'Have you ever had suicidal thoughts ?_Yes', 'Financial Stress_2.0', 'Financial Stress_3.0', 'Financial Stress_4.0', 'Financial Stress_5.0', 'Financial Stress_?', 'Family History of Mental Illness_Yes', 'Degree_B.Arch', 'Degree_B.Com', 'Degree_B.Ed', 'Degree_B.Pharm', 'Degree_B.Tech', 'Degree_BA', 'Degree_BBA', 'Degree_BCA', 'Degree_BE', 'Degree_BHM', 'Degree_BSc', 'Degree_LLB', 'Degree_LLM', 'Degree_M.Com', 'Degree_M.Ed', 'Degree_M.Pharm', 'Degree_M.Tech', 'Degree_MA', 'Degree_MBA', 'Degree_MBBS', 'Degree_MCA', 'Degree_MD', 'Degree_ME', 'Degree_MHM', 'Degree_MSc', 'Degree_Others', 'Degree_PhD']

In [99]:
y=df["Depression"]
x=df.drop("Depression",axis=1)

In [100]:
 print(x.shape)
print(y.shape)
print(y.dtype)
print(y.unique()) # y'deki benzersiz değerleri gör

(27901, 118)
(27901,)
int64
[1 0]

In [101]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,random_state=11)

In [104]:
model = LogisticRegression(max_iter=1000) # Varsayılan 100 olabilir, biz 1000'e çıkarıyoruz
model.fit(x_train, y_train) # Modeli burada eğitirsin

print("Model başarıyla eğitildi (max_iter artırıldı)!")

Model başarıyla eğitildi (max_iter artırıldı)!

In [105]:
model.score(x_test,y_test)

0.8456135321100917